@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Varela Round", sans-serif;
}
body {
  background: linear-gradient(to top right, #9c6603eb 0%, #024928 90%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  margin-bottom: 10px;
}
.container {
  width: 100%;
  max-width: 600px;
  background-color: rgb(210, 201, 201);
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.container input {
  z-index: -10;
  position: absolute;
  opacity: 0;
}

#para {
  background-color: rgb(210, 201, 201);
  color: rgb(120, 120, 120);
}

#para span::selection {
  background-color: #cf8e16eb;
  color: black;
  word-break: break-all;
  letter-spacing: 1px;
  text-align: justify;
}

.containerin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
}
.result {
  display: flex;
  color: white;
  justify-content: space-around;
  width: 95%;
}
.result div {
  align-items: center;
  display: flex;
}
.result p {
  font-size: 15px;
}
.result .value {
  font-size: 20px;
  font-weight: bold;
  background-color: #024928;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  width: 50px;
  margin-left: 10px;
}
.result.name {
  font-size: 15px;
}
.container button {
  background-color: #8e6905;
  display: flex;
  border: none;
  align-items: center;
  flex-direction: column;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#para span.active {
  position: relative; /* This ensures the absolute positioning works for the pseudo-element */
}

#para span.active::before {
  position: absolute;
  content: "";
  height: 2.5px;
  background-color: #024928;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0.7;
  }
}

#para span.Correct {
  color: rgb(0, 0, 0);
}

#para span.Incorrect {
  color: red;
}
